<div class="container">
  <div class="row">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Proyecto de Biología</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ex dolorum ab, reiciendis, 
            eius magnam similique eveniet doloremque, rem vero modi veritatis incidunt eaque! Ipsam ab vero dolore aut error.</p>
        </div>
        <div class="card-footer">
          <img src="assets/img/clark-kent.jpg" alt="" class="img-fluid img-circle img-footer">
          <small>Clark Kent</small>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Proyecto de Robótica</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ex dolorum ab, reiciendis, 
            eius magnam similique eveniet doloremque, rem vero modi veritatis incidunt eaque! Ipsam ab vero dolore aut error.</p>
        </div>
        <div class="card-footer">
          <img src="assets/img/bruce-wayne.jpg" alt="" class="img-fluid img-circle img-footer">
          <small>Bruce Wayne</small>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Proyecto de Biología</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas ex dolorum ab, reiciendis, 
            eius magnam similique eveniet doloremque, rem vero modi veritatis incidunt eaque! Ipsam ab vero dolore aut error.</p>
        </div>
        <div class="card-footer">
          <img src="assets/img/clark-kent.jpg" alt="" class="img-fluid img-circle img-footer">
          <small>Clark Kent</small>
        </div>
      </div>
    </div>
</div>