.container {
    margin-top: 20px !important;
}

.img-footer {
    height: 30px;
}

.img-circle {
    border-radius: 30px;
}

h4.card-title {
    font-size: 14px;
}

.card-text {
    font-size: 12px;
}

.card {
    margin-bottom: 20px;
}